
  @font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

    body {
        background: #EFEFEF;
    }

    header{
        background: white;
        height: 156px;
        padding: 40px 0px;
        box-sizing:border-box;
    }

    header h1,header h4{
        width: 1100px;
        margin:0 auto;
    }

    header h1 {
        font: 45px/56px '微软雅黑','黑体',sans-serif;
    }

    header h4{
        color: #999999;
        font: 19px/20px '新宋体','宋体',serif;
    }

    nav {
        background: #222;
    }

    nav ul {
        width: 1100px;
        height: 60px;
        margin: 0 auto;
    }

    nav li {
        position: relative;
        float: left;
    }

    nav img {
        position: absolute;
        top:0px;
        right: 0px;
    }
    nav a{
        display: block;
        padding: 0 20px;
        line-height: 60px;
        color: white;
        font-size: 17px;
        font-family: '新宋体','宋体',serif;
    }

    nav a:hover {
        background: #3f3f3f;
    }

    #main {
        width: 1100px;
        margin: 0 auto;
    }

    #main::after {
        content: '';
        height: 0px;
        display: block;
        clear: both;
    }

    #lside {
        width: 805px;
        min-height: 400px;
        float: left;
    }

    #rside {
        width: 275px;
        min-height: 400px;
        float: right;
    }

    aside {
        background: white;
        padding: 40px;
        margin-bottom: 20px;
    }

    aside:first-child,article:first-child {
        margin-top: 20px;
    } 

/*     aside:last-child {
    margin-bottom: 10px;
} */

    aside h4 {
        color: black;
        font:20px/24px '微软雅黑','黑体',sans-serif;
        margin-bottom: 30px;
    }

    aside a,aside:visited {
        color: #1e73be;
        font: 14px/26px '新宋体','宋体',serif;
    }

    aside a:hover {
        color: black;
    }

    aside input {
        border: 1px solid #CCCCCC;
        background: #FAFAFA;
        width: 100%;
        padding: 10px 15px;
        box-sizing:border-box;
        color: #666666;
        font-size: 16px;
    }

    footer{
        height: 65px;
        padding: 20px 0px;
        box-sizing:border-box;
        background: #222;
        text-align: center;
        color: white; 
        font:17px/22px '微软雅黑','黑体',sans-serif;
    }

    article {
        background: white;
        margin-bottom: 20px;
        padding: 40px;
    }

    article h2 {
        font: 30px/36px '微软雅黑','黑体',sans-serif;
    }

    article a,article:visited {
        color: #1e73be;
    }

    article a:hover{
        color: black;
    }

    .entry_header,.entry_header a{
        color: #666666;
        font-size: 12px;
    }

    .entry_header a:hover {
        color: #1e73be;
    }

    .catlink::before {
        font-family: FontAwesome;
        content: "\f07b" ;
        padding:0px 4px; 
    }

    .comment::before{
        font-family: FontAwesome;
        content: "\f075";
        padding: 0px 4px;
    }

    .entry_content {
        margin-top: 30px;
        color:#3a3a3a;
        font:15px/22px '新宋体','宋体',serif; 
    }

    article:last-of-type {
        margin-bottom: 0;
    }

    #pagebar{
        color: #3a3a3a;
        font:17px/22px '微软雅黑','黑体',sans-serif;
        margin: 20px 0px;
    }

    #pagebar a,#pagebar a:visited {
        color: #1e73be;
    }

    #pagebar a:hover {
        color: black;
    }
