<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论列表</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/adm.css">
</head>
<body>
    <header>
        <h1>Blog后台管理系统</h1>
    </header>
    <div id="main">
        <div id="lside">
            <aside>
                <h4>栏目管理</h4>
                <ul>
                    <li><a href="catlist.php">栏目列表</a></li>
                    <li><a href="catadd.php">添加栏目</a></li>
                </ul>
            </aside>
            <aside>
                <h4>文章管理</h4>
                <ul>
                    <li><a href="artlist.php">文章列表</a></li>
                    <li><a href="artadd.php">发布文章</a></li>
                </ul>
            </aside>
            <aside>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="">修改密码</a></li>
                    <li><a href="logout.php">退出登陆</a></li>
                </ul>
            </aside>
        </div>
        <div id="rside">
            <table>
                <tr>
                    <td>序号</td>
                    <td>日期</td>
                    <td>nick</td>
                    <td>email</td>
                    <td>content</td>
                    <td>IP</td>
                    <td>操作</td>
                </tr>
                <?php foreach($comms as $c) { ?>
                <tr>
                    <td><?php echo $c['comment_id']; ?></td>
                    <td><?php echo date('Y/m/d', $c['pubtime']); ?></td>
                    <td><a href="#"><?php echo $c['nick']; ?></a></td>
                    <td><?php echo $c['email']; ?></td>
                    <td><span class="badge"><?php echo $c['content']; ?></span></td>
                    <td><?php echo long2ip($c['ip']); ?></td>
                    <td>
                        <a href="commdel.php?comment_id=<?php echo $c['comment_id'];?>">删除</a>
                    </td>
                </tr>
                <?php } ?>
            </table>
            <div id="pagebar">
                Pages:&nbsp;
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                4
                <a href="#">5</a>
                <a href="#">6</a>
            </div>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · 果壳机动 · Blog
    </footer>
</body>
</html>