<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>果壳机动</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <h1>果壳机动</h1>
        <h4>我登楼观百川，入海即入我怀</h4>
    </header>
    <nav>
        <ul>
            <li><a href="index.php">首页</a></li>
            <li><a href="">导航2</a></li>
            <li>
                <a href="">导航3</a></li>
            <li><a href="">导航4</a></li>
        </ul>
    </nav>
    <div id="main">
        <div id="lside">
            <?php foreach($arts as $a) { ?>
            <article>
                <h2><a href="art.php?art_id=<?php echo $a['art_id']; ?> "><?php echo $a['title']; ?></a></h2>
                <div class="entry_header">
                    <time><?php echo date('Y/m/d' , $a['pubtime']); ?></time>
                    by
                    <a href="https://github.com/jinhesui">jinhesui</a>
                    <a class="catlink" href="#"><?php echo $a['catname']; ?></a>
                    <?php echo "&nbsp;",$a['arttag']; ?>
                    <a class="comment" href="#"><?php echo $a['comm']; ?>条评论</a>
                </div>
                <?php if($a['thumb']) { ?>
                <img src="<?php echo '.' . $a['thumb']; ?>" alt="">
                <?php } ?>
                <div class="entry_content">
                    <?php echo $a['content']; ?>
                </div>
            </article>
            <?php } ?>

            <div id="pagebar">
                Pages:&nbsp;
                <?php foreach($page as $k=>$v) { ?>
                <?php if($k == $curr) {?>
                <?php echo $k ; } else {?>
                <a href="index.php?<?php echo $v ;?>"><?php echo $k ;?></a>
                <?php }?>
                <?php }?>
            </div>
        </div>
        <div id="rside">
            <aside>
                <form action="">
                    <input type="text" name="search" placeholder="Search...">
                </form>
            </aside>
            <aside>
                <h4>栏目列表</h4>
                <ul>
                    <?php foreach($cats as $c) { ?>
                    <li><a href="index.php?cat_id=<?php echo $c['cat_id']; ?>"><?php echo $c['catname']; ?></a>&nbsp;(<?php echo $c['num']; ?>)</li>
                    <?php } ?>
                </ul>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题1</a></li>
                    <li><a href="">文章标题2</a></li>
                    <li><a href="">文章标题3</a></li>
                    <li><a href="">文章标题4</a></li>
                </ul>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题1</a></li>
                    <li><a href="">文章标题2</a></li>
                    <li><a href="">文章标题3</a></li>
                    <li><a href="">文章标题4</a></li>
                </ul>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题1</a></li>
                    <li><a href="">文章标题2</a></li>
                    <li><a href="">文章标题3</a></li>
                    <li><a href="">文章标题4</a></li>
                </ul>
            </aside>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · 果壳机动 · Blog
    </footer>
</body>
</html>